## c++
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.so

# CMake
include/br_*
include/Makefile
include/CMakeFiles/
include/CMakeCache.txt
include/cmake_install.cmake

## Java
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/bin/

# Configuration files already in branch, but personal changes to these files shouldn't be commited.
run.sh
build.xml
src/br/ufsc/labsec/libcryptosec/test/Main.java
src/br/ufsc/labsec/libcryptosec/test/LibcryptosecJavaTest.java
lib/CMakeLists.txt
